In [44]:
import pandas as pd
import numpy as np

In [45]:
df=pd.read_csv('C:\Data\Custom\mathandcsmarks.csv')
df

      name  math  computer
0    david    92        98
1    laura    56        68
2   sanjay    88        81
3      wei    70        80
4     jeff    80        83
5    aamir    49        52
6   venkat    65        66
7    virat    35        30
8  artuhur    66        68
9     paul    67        73

In [46]:
import math
def gradient_descent(x,y):
    m_curr=b_curr=0
    n=len(x)
    iterations=100000
    learning_rate=0.0002
    previous_cost=0
    
    for i in range(iterations):
        y_pred=m_curr*x+b_curr
        cost=(1/n)*sum([val**2 for val in (y-y_pred)])
        if math.isclose(cost,previous_cost,rel_tol=1e-20):
            break
        previous_cost=cost
        md=-(2/n)*sum(x*(y-y_pred))
        bd=-(2/n)*sum(y-y_pred)
        m_curr=m_curr-learning_rate*md
        b_curr=b_curr-learning_rate*bd
        #print('m: {},  b: {},  iteration: {},  cost: {}'.format(m_curr,b_curr,i,cost))
    
    return m_curr,b_curr

In [47]:
x=np.array(df['math'])
y=np.array(df['computer'])
print(x,y)
m, b = gradient_descent(x,y)
print("Using gradient descent function: Coef {} Intercept {}".format(m, b))

[92 56 88 70 80 49 65 35 66 67] [98 68 81 80 83 52 66 30 68 73]
Using gradient descent function: Coef 1.0204362110820604 Intercept 1.72387921708579

In [51]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x.reshape(-1,1),y)

LinearRegression()

In [52]:
print(model.coef_,model.intercept_)

[1.01773624] 1.9152193111569176