In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

from sklearn.linear_model import LinearRegression

In [6]:
df=pd.read_csv('C:\Data\Custom\homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [12]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)

In [13]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
model=LinearRegression()

In [15]:
model.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [16]:
print(model.coef_,model.intercept_)

[   137.25 -26025.    -6825.  ] 383724.9999999998

In [17]:
model.predict([[3000,3,40]])

array([444400.])

In [18]:
model.predict([[2500,4,5]])

array([588625.])